@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome back!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome!</h1>
        Please register or log in.
    </NotAuthorized>
</AuthorizeView>