@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome back!</h1>
        <hr />
        <p>This app will recommend you recipes (and restaurants) based off of your preferences. This app is currently in the prototype phase.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome!</h1>
        <hr />
        <p>This app will recommend you recipes (and restaurants) based off of your preferences. This app is currently in the prototype phase.</p>
        <p>Please register or log in to continue.</p>
    </NotAuthorized>
</AuthorizeView>