@page "/recipeDetails/{id}"
@inherits RecipeDetailsBase

@if (Recipe != null)
{
<div class="card border-light mb-3" style="width: 721px;">
    <div class="card-body">
        <h5 style="font:bold" class="card-title">@Recipe.Name</h5>
    </div>
    @if (string.IsNullOrWhiteSpace(Recipe.VideoURL))
    {
        <img class="card-img" src="@Recipe.ThumbnailURL">
    }
    else
    {
        <video width="720" height="480" controls>
            <source src="@Recipe.VideoURL" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    }
    <div class="card-body">
        <a href="@Recipe.URL" class="card-link">Go to site</a>
        <a class="card-link">Favorite</a>
    </div>
</div>
}
else
{
    <div class="loading-bar"></div>
}