@page "/recipeSearch/"
@page "/recipeSearch/{searchText}"
@inherits RecipeSearchBase

<h3>Search for Recipes</h3>
<hr />

<input type="search" class="form-control" @bind="LocalSearchText" @bind:event="oninput" @onchange="OnSearchTextChanged" placeholder="Search..." />

@if (!string.IsNullOrWhiteSpace(SearchText))
{
    if (Recipes != null)
    {
        <div class="card-deck">
            @foreach (var recipe in Recipes)
            {
                <div class="card" style="min-width: 18rem; max-width: 20%; margin-top: 15px; margin-bottom: 15px;">
                    <img class="card-img-top recipeThumbnail" src="@recipe.ThumbnailURL" />
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <a href="@($"/recipeDetails/{recipe.Id}")" class="btn btn-primary">View</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="loading-bar"></div>
    }
}