<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Where We Bout To Eat?</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="recipeSearch">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search For Recipes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="preferences">
                    <span class="oi oi-star" aria-hidden="true"></span> Tell us what you like
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="recipeRecommendations">
                    <span class="oi oi-thumb-up" aria-hidden="true"></span> Recommended recipes
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
